<!DOCTYPE html>
<html lang="ja">
    <head>
        <meat charset="utf-8">
        <title>csvファイルの追加について</title>
        <Link type="text/css" rel="stylesheet" href="/stylesheets/account_additionCSVExplanation.css">
    </head>

    <body>
        <div class="orange">
            <h1>csvファイルの追加方法について</h1>
            <hr>
        </div>

        <a>①</a>
        <br><a>②</a>
        <br><a>❸</a>
        <br><a>❹</a>
        <br><a>⑤</a>

        <br><button onclick="location.href='account_additionCSV'">戻る</button>
    </body>

</html>