<!DOCTYPE html>
<html lang="ja">
    <head>
        <meat charset="utf-8">
        <title>ユーザー情報：変更</title>
        <Link type="test/css" rel="stylesheet" href="/stylesheets/account_additionChange.css">
    </head>

    <body>
        <h1>回答即時判断システム：ユーザー情報の変更</h1>
        <hr>
        <h2>ユーザー情報</h2>
        <h3>変更したい項目を変更してください。</h3>
        <div id="data"></div>
        <div id="form">
            <div id="text">
                ユーザー名：<input type="text" id="nameText">
                <p></p>
                <br>学籍番号　 : <input type="text" id="Student Number">
                <p></p>
                <br>パスワード : <input type="text" id="passwordText">
                <p></p>
                <br>確認　　　 : <input type="text" id="confirmationText">
                <p></p>
                <br>教師権限 : <input type="checkbox" id="authority">
            </div>
            <P></P>
            <p></p>
            <div id="button">
                <input type="button" value="戻る" id="submit" onclick="location.href='account'">
                <input type="button" value="変更" id="submit">
            </div>
        </div>
    </body>

</html>