<!DOCTYPE html>
<html lang="ja">
<head>
<meat charset="utf-8">
<title>ユーザー新規追加方法選択画面</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/account_additionMethod.css">
</head>

<body>
    <div class="orange">
        <h1>回答即時判断システム：ユーザーの新規追加</h1>
        <hr>
    </div>

    <a>追加方法を選択してください。</a>
    <p></p>
    <br><button onclick="location.href='/account_additionCSV'">csvファイルで追加</button>
    <p></p>
    <br><button onclick="location.href='/account_addition'">　　手入力で追加　　</button>
    <p></p>
    <br><button onclick="location.href='account'">戻る</button>
</body>
</html>