<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ニコキタ教育委員会</title>
    <link rel="stylesheet" href="/stylesheets/admin_main.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="header-left" id="hambtn">
                <button class="menu-button">
                    <div class="menu-line"></div>
                    <div class="menu-line"></div>
                    <div class="menu-line"></div>
                </button>
                <h1>ニコキタ教育委員会</h1>
            </div>
            <div class="user-info">
            <% if (name) { %>
                ユーザー：<%= name %>
            <% } else { %>
                ユーザー：admin
            <% } %></div>
        </header>

        <nav class="sidebar" id="sidebar">
            <a href="/admin_main">メインページ</a>
            <a href="/account_list">ユーザー管理</a>
            <a href="javascript:void(0);" onclick="logout()">ログアウト</a>
        </nav>

        <main>
            <div class="button-container">
                <button id='account-button' class="action-button">
                    <img class="button-icon" src="/image2/users.svg" alt="ユーザー管理">
                    <div class="button-text">ユーザー<br>管理</div>
                </button>
                <button id="logout-button" class="action-button">
                    <img class="button-icon" src="/image2/log-out.svg" alt="ユーザー管理">
                    <div class="button-text">ログアウト</div>
                </button>
            </div>
        </main>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/admin_main.js"></script>
</body>
</html>