<!DOCTYPE html>
<html>
    <head>
        <title>ファイルで問題追加</title>
        <%# jqueryをURL経由で読み出している %>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet" href="/stylesheets/file.css">
    </head>
    <body>
        <%# これはコメントです。%>
        <%# socket.ioをパス経由で読み出している。%>
        <h1>ファイルで問題登録</h1>
        <p>問題追加について</p>
        <a href="/csv/templete.csv">テンプレートはこちら</a>
        <script src = '/socket.io/socket.io.js'></script>
        <div class="flex">
        <div class="csv">
           <h1>アップロードするcsvファイルを選択してください。</h1>
           <input type="file" id="select" name="select" accept=".csv"> 
        </div>
        <div class="file1">
            <h1>アップロードする写真を選択してください。</h1>
            <input type="file" id = "upload" name="file" multiple draggable="true"  />
        </div>
        <div class="file2">
            <h1>フォルダーでアップロードする方はこちら</h1>
            <input type="file" id = "upload2" name="file2"  draggable="true" webkitdirectory />
        </div>
        </div>
        <div id = "err"></div>
        <ul id ="filename" class="filename"></ul>
        <ul id ="filename2" class="filename2"></ul>
        <form name ="fo">
            <input type="submit" id="result" name="bu1" value="記録">
        </form>
        <script src ="/javascripts/fail.js"></script>
        </body>
</html>