<!DOCTYPE html>
<html>
    <head>
        <title>結果発表</title>
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet" href="/stylesheets/hyouji4.css">
    </head>
    <body>
        <script src="/socket.io/socket.io.js"></script>
        <h1>結果発表</h1>
        <div id ="box" class="box"></div>
        <br>
        <br>
        <br>
        <br>
        <div id="but" class="but">
          <input type="submit" class="button" name="button1" value="問題選択に戻る" onclick="osareta()"><br>
          <br>
          <a href="/hyouji2">戻る</a>
        </div>
          <script>
            var socket = io();
            const rows = JSON.parse('<%- JSON.stringify(han1) %>');
            var rowlen = rows.length;
            var rowlen2 = parseInt(rowlen/12) + 1;
            var user_ID = 0;
            var username = 0;
            var answer = 0;
            var c = 0;
            var myd = document.getElementById("box");
            var i = 0;
            var j = 0;
            var k = 0;
            var table1 = document.createElement("table");
            var tbody1 = document.createElement("tbody");
            var tr1 = document.createElement("tr");
            while(i < rowlen2){
              tr1 = document.createElement("tr");
              while(k < rowlen && j != 12){
                var td1 = document.createElement("td");  
                user_ID = rows[k].user_ID;
                username = rows[k].user_name;
                answer = rows[k].answer;
                td1.innerHTML = "<h1>" + answer + "</h1><br><br>" + user_ID + "<br>" + username;
                c = rows[k].result;
                tr1.appendChild(td1);
                if(c === "○"){
                    td1.setAttribute("bgcolor","#FF0000");
                }else if(c === "✕"){
                    td1.setAttribute("bgcolor","#0000FF");
                }
                td1.setAttribute("width","160px");
                td1.setAttribute("height","160px");
                td1.setAttribute("align","center");
                j = j+1; 
                k = k + 1;
              }
              console.log(tr1);
              tbody1.appendChild(tr1);
              i = i + 1;
              j = 0;
   
            }
            table1.appendChild(tbody1);
            myd.appendChild(table1);
            table1.setAttribute("border","2px");
            table1.setAttribute("align","center");
            table1.setAttribute("class","example");
          
            
          //押されたらサーバーにsocket.ioを使ってイベントを起動する・
          function osareta(){
            socket.emit('syokika');
          }
          </script>
    </body>
</html>