<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ニコキタ教育委員会：結果発表</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/hyouji4.css">
</head>
<body>
    <header>
        <h1>ニコキタ教育委員会：結果発表</h1>
    </header>
    <div id="box" class="box"></div>
    <div class="button-container">
        <input type="submit" class="button" value="問題選択に戻る" onclick="osareta()">
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/hyouji4.js"></script>
</body>
</html>
