<!DOCTYPE html>
<html>
    <head>
        <title>表示</title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/hyouji3.css">
    </head>
    <script src='/socket.io/socket.io.js'></script>
    <body>
        <h1><%= userAnswer %></h1>
        <p><%= user_ID %></p>
        <p><%= user_name %></p>
    <script src="/javascripts/hyouji3.js"></script>
    </body>
</html>