<!DOCTYPE html>
<html>
    <head>
        <title>表示</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="/stylesheets/hyouji2.css">
    </head>
    <body>
        <script src="/socket.io/socket.io.js"></script>
        <section class="main">
            <div class="container">
                <p id="username"><%= name %></p>
                <form name ="s1">
                <h1>受付中…</h1>
                <input type ="submit" name="modoru" value = "戻る" class="s"> 
                </form>
            </div>
        </section>
        <script src="/javascripts/hyouji2.js"></script>
    </body>
</html>