<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>表示２</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/index.css">
    <style>
      #picture {
          text-align: center;
      }
      #picture img {
          max-width: 100%;
          height: auto;
      }
    </style>
  </head>
  <header>
    <div style="display: flex; align-items: center;">
        <div class="menu-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <span class="header-title">ニコキタ教育委員会：問題表示</span>
    </div>
    <div class="user-info">ユーザー</div>
  </header>
  <nav class="sidebar" id="sidebar">
    <a href="javascript:void(0);" onclick="logout()">ログアウト</a>
  </nav>
  <body>
    <script src='/socket.io/socket.io.js'></script>

    <!-- タイマーと問題表示用のHTML -->
    <div id="mytime"></div>
    <div class="timer">
      <div id="re" class="hun"></div>
      <div id="re2" class="ti">:</div>
      <div id="re3" class="byou"></div>
    </div><br>
    <h1 id="questionText"><%= question_text %></h1><br>
    <div id="picture" class="picture"> <% if (pics_name) { %>
      <p></p>
      <img src="/images/<%= pics_name %>" alt="問題画像" />
  <% } else { %>
  <% } %></div>

    <script src="/javascripts/index.js"></script>
  </body>
</html>
