<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>表示２</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <header>
    <div style="display: flex; align-items: center;">
        <div class="menu-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <span class="header-title">ニコキタ教育委員会：問題表示</span>
    </div>
    <div class="user-info">ユーザー</div>
  </header>
  <nav class="sidebar" id="sidebar">
    <a href="javascript:void(0);" onclick="logout()">ログアウト</a>
  </nav>
  <body>
    <script src='/socket.io/socket.io.js'></script>

    <!-- タイマーと問題表示用のHTML -->
    <div id="mytime"></div>
    <div class="timer">
      <div id="re" class="hun"></div>
      <div id="re2" class="ti">:</div>
      <div id="re3" class="byou"></div>
    </div><br>
    <h1 id="questionText"><%= question_text %></h1><br>
    <div id="picture" class="picture"> <% if (pics_name) { %>
      <p></p>
      <img src="/images/<%= pics_name %>" onerror="this.onerror=null; this.src='/images/noImage.jpg'" alt="問題画像" />
  <% } else { %>
  <% } %></div>

  <script>
    var socket = io();
      const limit_time = '<%= limit_time %>';
      var totalSeconds = parseInt(limit_time, 10);
        var minutes = Math.floor(totalSeconds / 60);
        var seconds = totalSeconds % 60;

        // タイマーの表示更新
        document.getElementById('re').innerText = minutes;
        document.getElementById('re3').innerText = seconds;

        var countdownId = setInterval(function() {
          if (minutes === 0 && seconds === 0) {
            clearInterval(countdownId);
          } else {
            if (seconds === 0) {
              minutes--;
              seconds = 59;
            } else {
              seconds--;
            }
            document.getElementById('re').innerText = minutes;
            document.getElementById('re3').innerText = seconds;
          }
        }, 1000);

        const room_ID = 'teacher';
        const role = 3
        if (room_ID) {
                socket.emit('join_room', { room_ID, role });
                console.log(`ルーム ${room_ID} に参加しました (役割: ${role})`);
        } else {
            console.error('ルームIDが指定されていません。');
        }
  </script>
  <script src="/javascripts/index.js"></script>
  </body>
</html>
