<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>表示２</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/index.css">
    <style>
      /* 追加されたCSSスタイル */
      #picture {
          text-align: center; /* 画像を中央揃えに */
      }
      #picture img {
          max-width: 100%; /* 画像がコンテナを超えないように */
          height: auto; /* 画像のアスペクト比を維持 */
      }
    </style>
  </head>
  <body>
    <script src='/socket.io/socket.io.js'></script>
    <div id="mytime">
     <p><%= time %></p> 
    </div>
    <div class ="R">
    <div id = "re" class = "hun"></div>
    <div id = "re2" class = "ti">:</div>
    <div id = "re3" class = "byou"></div>
    </div>
    <h1><%= text %></h1>
    <p id="photoName"><%= picture %></p>
    <div id = "picture" class="picture"></div>
    <br>
    <script>
      //簡易タイマーを作成
      var socket = io();
      var hyoujiindex = 0;
      var timer = document.getElementById('mytime');
      var timer2 = timer.innerText;
      //表示の時間合わせ
      if(timer2 <= 3){
        timer2 = 0;
      }else{
        timer2 = timer2 - 3;
      }
      var minutes = parseInt(timer2/60,10);
      var seconds = timer2%60;

      re.innerText=minutes;
      re3.innerText = seconds;

      //カウンドダウン開始
      if(minutes == 0 && seconds == 0){
        re.innerText=minutes;
        re3.innerText = seconds;
      }else{
        var countdownid = setInterval(function(){
        if(minutes != 0 && seconds == 0){
          minutes --;
          seconds = 59;
        }else{
          seconds --; 
        }
        re.innerText=minutes;
        re3.innerText = seconds;
        if(minutes == 0 && seconds == 0){
          clearInterval(countdownid);
        }
      }, 1000);
    }

    // 写真名が<p>タグ内にあるか確認し、あれば表示
      var photoName = document.getElementById('photoName').innerText;
      console.log(photoName);
    if(photoName != 0) {
      var imagePath = 'images/' + photoName;
      var imgElement = document.createElement('img');
      imgElement.src = imagePath;
      document.getElementById('picture').appendChild(imgElement);
    }

        socket.on('hyouji',function(de){
          window.location.href ='/hyou3?data=' + encodeURIComponent(de);
        })
        
        socket.on('result_display2',function(data){
          window.location.href='/hyou4';
        })
    </script>
  </body>
</html>