<!DOCTYPE html>
<html lang ="ja">
    <head>
        <meta charset="utf-8">
        <title>回答</title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/kaitou2.css">
    </head>
    <body>
        <header class="header">
            <button class="menu-button" aria-label="メニュー">
                <div class="menu-line"></div>
                <div class="menu-line"></div>
                <div class="menu-line"></div>
            </button>
            <div class="header-title">ニコキタ教育委員会：解答</div>
            <div>ユーザー：<%= name %></div>
        </header>
        <nav class="sidebar" id="sidebar">
            <a href="javascript:void(0);" onclick="logout()">ログアウト</a>
        </nav>
        <script src ="/socket.io/socket.io.js"></script>
        <br>
        <br>
        <h1><%= question_text %></h1>
        <br>
        <br>
        <div class="buttons">
            <!-- 動的にボタンを生成 -->
        </div>
        <div class="textarea-container" style="display: none;">
            <textarea id="freeTextAnswer" rows="6" cols="50" placeholder="あなたの回答を入力してください"></textarea><br>
            <button id="submitTextAnswer">送信</button>
        </div>
        <!-- 確認モーダル-->
        <div class="modal" id="confirmationModal">
            <div class="modal-content">
                回答はこれでよろしいでしょうか？
                <div class="highlight" id="selectedAnswer"></div>
            </div>
            <div class="modal-buttons">
                <button id="confirmYes">はい</button>
                <button id="confirmNo">いいえ</button>
            </div>
        </div>
        <div class="overlay" id="overlay"></div>
        <script src="/javascripts/kaitou2.js"></script>
    </body>
</html>