<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ニコキタ教育委員会：ログイン</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <header>
        <h1>ニコキタ教育委員会：ログイン</h1>
    </header>
    
    <main>
        <form id="loginForm">
            <input type="text" id="userId" name="name" placeholder="学籍番号" aria-label="User ID" maxlength="30" required>
            <input type="password" id="password" name="password1" placeholder="Password" aria-label="Password" maxlength="64" required>
            <select id="teacherSelect" name="select1" required aria-label="教員を選択">
                <option value="" disabled selected>(教員を選択)</option>
                <% teacher_name.forEach(function(teacher) { %>
                  <option value="<%= teacher.user_name %>"><%= teacher.user_name %></option>
                <% }); %>
            </select>
            <button type="submit">ログイン</button>
        </form>
        <div class="container">
            <ul id="mondai"></ul>
        </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/login.js"></script>
</body>
</html>
