<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>
            受付中
        </title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/mondai3.css">
    </head>
    <body>
        <header class="header">
            <div class="header-left">
                <div class="hamburger">
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                </div>
                <h1 style="margin: 0; font-size: 1.2em;">ニコキタ教育委員会：出題管理</h1>
            </div>
            <div>ユーザー：<%= name %></div>
        </header>

        <nav class="sidebar" id="sidebar">
            <a href="/main">メインページ</a>
            <a href="/mondai">問題出題</a>
            <a href="/Question_manage">問題管理</a>
            <a href="/history">解答履歴</a>
            <a href="javascript:void(0);" onclick="logout()">ログアウト</a>
        </nav>
    
        <script src ='/socket.io/socket.io.js'></script>
        <div class="timer" >
        <div id = "remain" class = "rem2"></div>
        <div id = remain3 class = "rem3">:</div>
        <div id="remain2" class = "rem4"></div>
        </div>
       
        <form name = myform2>
            <div class="button-container">
            
                <input type ="submit" class="button" name="button4" value ="問題再送信">
            
                <input type ="submit" class="button" name="button3" value ="解答終了">
                
                <input type="submit" class="button" name="kekka" value ="解答一覧へ">
            </div>
        </form>
        <script>
            var f  = document.forms.myform2;
            var socket = io({ transports: ['websocket'], upgrade: false });
            const room_ID = '<%= name %>';
                const role = 1
                if (room_ID) {
                    socket.emit('join_room', { room_ID, role });
                    console.log(`ルーム ${room_ID} に参加しました (役割: ${role})`);
                } else {
                    console.error('ルームIDが指定されていません。');
                }
            var inner2 = '<%= second %>'  //入力値を受け取る
            var minites = parseInt(inner2/60,10); //分を取得
            var seconds = Math.round(inner2%60); //秒を取得
            seconds = Math.abs(seconds);

            remain.innerText=minites;
            remain2.innerText=seconds;

            //カウンドダウン開始
            if(minites == 0 && seconds == 0){
                remain.innerText=minites;
                remain2.innerText=seconds;
            }else{
                var countdownid = setInterval(function(){
                if(minites != 0 && seconds == 0){
                    minites --;
                    seconds = 59;
                }else{
                   seconds --; 
                }
                remain.innerText=minites;
                remain2.innerText = seconds;
                if(minites == 0 && seconds == 0){
                    clearInterval(countdownid);
                    socket.emit('owa2');
                }
            }, 1000);
            }
        </script>
        <script src="/javascripts/mondai3.js"></script>
    </body>
</html>
