<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>
            受付中
        </title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/mondai3.css">
    </head>
    <body>
        <header class="header">
            <div class="header-left">
                <div class="hamburger">
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                </div>
                <h1 style="margin: 0; font-size: 1.2em;">ニコキタ教育委員会：出題管理</h1>
            </div>
            <div>ユーザー：<%= name %></div>
        </header>

        <nav class="sidebar" id="sidebar">
            <a href="/main">メインページ</a>
            <a href="/mondai">問題出題</a>
            <a href="/Question_manage">問題管理</a>
            <a href="javascript:void(0);" onclick="logout()">ログアウト</a>
        </nav>
    
        <script src ='/socket.io/socket.io.js'></script>
        <div class="timer" >
        <div id = "remain" class = "rem2"></div>
        <div id = remain3 class = "rem3">:</div>
        <div id="remain2" class = "rem4"></div>
        </div>
       
        <form name = myform2>
            <div class="button-container">
            
                <input type ="submit" class="button" name="button4" value ="問題再送信">
            
                <input type ="submit" class="button" name="button3" value ="回答終了">
                
                <input type="submit" class="button" name="kekka" value ="回答結果へ">
            </div>
        </form>
        <script src="/javascripts/mondai3.js"></script>
    </body>
</html>
