<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ニコキタ教育委員会：CSVアップロード</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/question_additionCSV.css">
</head>
<body>
    <header class="header">
        <div class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div>ニコキタ教育委員会：問題編集</div>
        <div>ユーザー：<%= username %></div>
    </header>

    <nav class="sidebar" id="sidebar">
        <a href="/main">メインページ</a>
        <a href="/mondai">問題出題</a>
        <a href="/Question_manage">問題管理</a>
        <a href="/history">解答履歴</a>
        <a href="javascript:void(0);" onclick="logout()">ログアウト</a>
    </nav>
    
    <!-- 右側から出てくる写真パネルボタン -->
    <div class="image-panel-button" id="imagePanelButton">写真</div>

    <!-- 右側からスライドするパネル -->
    <div class="image-panel" id="imagePanel">
        <h2>画像一覧</h2>
        <div class="search-container">
            <input type="search" id="search-box" placeholder="写真を検索">
            <span class="search-icon">🔍</span>
            <button id="search-button">検索</button>
        </div><br>
        <div class="image-list" id="imageListContainer"></div>
    </div>

    <div id = "zoomback">
        <img id = "zoomimg" src = "">
    </div>

    <main class="main-content">
        <h1 class="title">CSVファイルのアップロード</h1>

        <button id="downloadButton">テンプレートをダウンロード</button>

        <div class="upload-section">
            <label class="upload-label">アップロードするCSVファイルを選択してください。</label>
            <div class="dropzone" id="csv-dropzone">
                ドラッグ＆ドロップするか、ここをクリックしてファイルを選択
                <input type="file" id="csv-input" accept=".csv" style="display: none;">
            </div>
            <div class="file-list" id="csv-file-list">
                <ul></ul>
            </div>
        </div>

        <div class="upload-section">
            <label class="upload-label">アップロードする写真を選択してください。</label>
            <div class="dropzone" id="photo-dropzone">
                ドラッグ＆ドロップするか、ここをクリックしてファイルを選択
                <input type="file" id="photo-input" accept="image/*" multiple webkitdirectory style="display: none;">
            </div>
            <div class="file-list" id="photo-file-list">
                <ul></ul>
            </div>
        </div>
        
        <button id="send-csv-button" style="margin-top: 20px; padding: 10px 20px; background-color: #F47B20; color: white; border: none; border-radius: 5px; cursor: pointer;">
            ファイルを送信
        </button>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/question_additionCSV.js"></script>
</body>
</html>
