<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ニコキタ教育委員会：問題追加</title>
    <link rel="stylesheet" href="/stylesheets/question_additionMethod.css">
</head>
<body>
    <header class="header">
        <div class="menu-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="header-title">ニコキタ教育委員会：問題追加</div>
        <div class="user-info">ユーザー：<%= username %></div>
    </header>

    <nav class="sidebar" id="sidebar">
        <a href="/main">メインページ</a>
        <a href="/mondai">問題出題</a>
        <a href="/Question_manage">問題管理</a>
        <a href="/history">解答履歴</a>
        <a href="javascript:void(0);" onclick="logout()">ログアウト</a>
    </nav>

    <main class="main-content">
        <h1 class="title">追加方法を選択してください。</h1>
        <div class="button-container">
            <button class="button" onclick="location.href='/question_additionCSV'">CSVファイルで追加</button>
            <button class="button" onclick="location.href='/question_additionmanual'">手入力で追加</button>
            <button class="button" onclick="window.history.back()">戻る</button>
        </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/question_additionMethod.js"></script>
</body>
</html>
