<!DOCTYPE html>
<html>
    <head>
        <title>テスト画面</title>
    </head>
    <body>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        SQL<input type="text" class="SQL_argument" id = "SQL"><br>
        引数1<input type="text" class="SQL_argument" id = "argument1"><br>
        引数2<input type="text" class="SQL_argument" id = "argument2"><br>
        引数3<input type="text" class="SQL_argument" id = "argument3"><br>
        引数4<input type="text" class="SQL_argument" id = "argument4"><br>
        <br><input type ="button" value="入力SQL実行" onclick="SQL_test5()"></input>
        <br><br><input type ="button" value="SQL(select)テスト1" onclick="SQL_test1()"></input>
        <input type ="button" value="SQL(insert)テスト1" onclick="SQL_test2()"></input>
        <input type ="button" value="SQL(update)テスト1" onclick="SQL_test3()"></input>
        <input type ="button" value="SQL(delete)テスト1" onclick="SQL_test4()"></input>
        <br>
        <br>
        <input type="text" class="router"><br>
        <input type ="button" value="router遷移テスト1" onclick="SQL_test6()"></input>
    </body>
    <script>
        var socket = io();
        function SQL_test1(){
            socket.emit('SQL_test');
        }

        function SQL_test2(){
            socket.emit('SQL_test2');
        }

        function SQL_test3(){
            socket.emit('SQL_test3');
        }

        function SQL_test4(){
            socket.emit('SQL_test4');
        }

        function SQL_test5(){
            let element= document.getElementsByClassName("SQL_argument");
            var data = [];
            for(let i=1; i < element.length;i++){
                if(element[i].value !== ""){
                    data.push(element[i].value);
                }else{
                }
            }
            var SQL_data ={
                sql: element[0].value,
                value: data
            }
            socket.emit('SQL_test5',SQL_data);
        }

        function SQL_test6(){
            let user_Id = document.getElementsByClassName("router");
            window.location.href="./account_additionChange?userId=" + user_Id[0].value
        }

        socket.on('test_result',function(result){
            console.log(result);
        })
    </script>
</html>