<!DOCTYPE html>
<html>
    <head>
        <title>追加</title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/tuika.css">
    </head>
    <body>
        <form name = "myform2" class="sub">
        <h1>追加方法を選択してください。</h1>
        <input type="submit" name="fail" value="ファイルで追加" class="button1">
        <br>
        <br>
        <input type="submit" name="user" value="入力で追加" class="button2">
        </form>
    <script src="javascripts/tuika.js"></script>
    </body>
</html>