<!DOCTYPE html>
<html>
    <head>
        <title>入力で追加</title>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    </head>
    <body>
        <script src ='/socket.io/socket.io.js'></script>
        <h1>各項目を入力してください。</h1>
        <div id="err"></div>
        <label>問題名</label><br>
        <input type="text" id = "mon1">
        <br>
        <br>
        <label>問題文</label><br>
        <input type="text" id = "mon2">
        <br>
        <br>
        <label>選択肢１</label><br>
        <input type="text" id = "mon3">
        <br>
        <br>
        <label>選択肢２</label><br>
        <input type="text" id = "mon4">
        <br>
        <br>
        <label>選択肢３</label><br>
        <input type="text" id = "mon5">
        <br>
        <br>
        <label>選択肢４</label><br>
        <input type="text" id = "mon6">
        <br>
        <br>
        <label>正解</label><br>
        <input type="text" id = "mon7">
        <br>
        <br>
        <label>写真名（ある場合は写真名・なかったらなしと入力してください。）</label><br>
        <input type="text" id = "mon8">
        <br>
        <br>
        <label>写真ファイルを上げる際にはここで選択してください。</label><br>
        <input type="file" id = "upload" name="file" multiple draggable="true"  />
        <br>
        <br>
        <div id = "okuri">
            <input type = "submit" name="montuika">
        </div>
        <script>
            var socket = io();
            var m = document.getElementById("okuri");
            var error = 0;
            var array = new Array(8);
            m.addEventListener('click',function(e){
                e.preventDefault();
                const s = document.getElementById("mon1").value;
                if(s == ""){
                    error = 1;
                }
                array[0] = s;
                const o = document.getElementById("mon2").value;
                if(o == ""){
                    error = 1;
                }
                array[1] = o;
                const p = document.getElementById("mon3").value;
                if(p == ""){
                    error = 1;
                }
                array[2] = p;
                const q = document.getElementById("mon4").value;
                if(q == ""){
                    error = 1;
                }
                array[3] = q;
                const r = document.getElementById("mon5").value;
                if(r == ""){
                    error = 1;
                }
                array[4] = r;
                const t = document.getElementById("mon6").value;
                if(t == ""){
                    error = 1;
                }
                array[5] = t;
                const u = document.getElementById("mon7").value;
                if(u == ""){
                    document.getElementById("err").innerHTML = "<p> 入力していない項目があります。";
                    error = 1;
                }
                array[6] = u;
                const v = document.getElementById("mon8").value;
                if(v == ""){
                    error = 1;
                }
                array[7] = v;
                const files = $('#upload')[0].files;
                const formData = new FormData();
                formData.append('file',files[0]);
                formData.append('hoge',123);

                $.ajax({
                url: 'http://localhost:3000/upload',
                method: 'post',
                data: formData,
                processData: false,
                contentType: false
                }).done(function(res){
                console.log(res);
                }).fail(function(err){
                console.log(err);
                })
                
                if(error == 1){
                    document.getElementById("err").innerHTML = "<p> 入力していない項目があります。";
                }else{
                    socket.emit('question_add',array);
                }
            })

            socket.on('complete',() =>{
                window.location.href='/kanryou';
            })

            socket.on('error',() =>{
                alert("問題追加に失敗しました。");
            })
        </script>
    </body>
</html>