body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}
header {
  background-color: #F47B20;
  color: white;
  padding: 1rem;
  margin-bottom: 2rem;
}
h1 {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}
.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3列 */
  gap: 0px; /* ボックス間のスペース */
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto; /* 左右の余白を自動調整 */
  width: fit-content; /* コンテンツに基づいた幅に調整 */
}
.result-box {
  width: 400px;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  color: white;
  font-size: 1.5rem;
}

.result-box div {
  word-wrap: break-word; /* テキストを折り返す */
  word-break: break-word; /* 必要に応じて単語内で改行 */
  text-align: center; /* テキストを中央揃え */
  overflow-wrap: break-word; /* 互換性のために追加 */
}

.result-box.red { background-color: #FF0000; }
.result-box.blue { background-color: #0000FF; }
.result-box.dark-gray { background-color: #555555; }
.button-container {
  text-align: center;
  margin-top: 2rem;
}
.button {
  background-color: #F47B20;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}
.pagination {
  text-align: center;
  margin-top: 20px;
}
.pagination a {
  margin: 0 5px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #F47B20;
  color: white;
  border-radius: 4px;
}

.pagination a.active {
  background-color: #555555;
  pointer-events: none;
}