.radiobutton1 {
    display: none;
 }

 .radiobutton2 {
    display: none;
 }

 .radiobutton3 {
    display: none;
 }

 .radiobutton4 {
    display: none;
 }

 .radiobutton1 + label {
    background-color: #ff8c00;
    padding: 10px;
    border: 2px solid #dcdcdc;
    display: block;
    margin: 10px 0;
    cursor: pointer;
  }

  .radiobutton2 + label {
    background-color: #4169e1;
    padding: 10px;
    border: 2px solid #dcdcdc;
    display: block;
    margin: 10px 0;
    cursor: pointer;
  }

  .radiobutton3 + label {
    background-color: #90ee90;
    padding: 10px;
    border: 2px solid #dcdcdc;
    display: block;
    margin: 10px 0;
    cursor: pointer;
  }

  .radiobutton4 + label {
    background-color: #ba55d3;
    padding: 10px;
    border: 2px solid #dcdcdc;
    display: block;
    margin: 10px 0;
    cursor: pointer;
  }

.radiobutton1:checked + label {
    background-color: #f4a460;
    border-color: #ff8c00;
}

.radiobutton2:checked + label {
    background-color: #87cefa;
    border-color: #4169e1;
}

.radiobutton3:checked + label {
    background-color: #c8e6c9;
    border-color: #90ee90;
}

.radiobutton4:checked + label {
    background-color: #ee82ee;
    border-color: #ba55d3;
}
/* ラベルのスタイル */
label {
    display: inline-block;
    margin-right: 20px;
}

.s{
    width: 100px;
    height: 50px;
}
body{
    background-color: #fffca9;
    background-size: cover;
}