body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}
header {
  background-color: #F47B20;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
}
.menu-icon span {
  width: 100%;
  height: 2px;
  background-color: white;
}
h1 {
  font-size: 1.5rem;
  margin: 0;
}
.user-info {
  font-size: 0.875rem;
}
main {
  padding: 1rem;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
th, td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: center;
}
thead {
  background-color: #FFCCAA;
}
.checkbox, .radio {
  width: 16px;
  height: 16px;
  margin: 0 auto;
}
.display-button {
  background-color: #e0e0e0;
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
.result-button {
  background-color: #FFD700;
  border: none;
  color: black;
  font-weight: bold;
  padding: 1rem 2rem;
  font-size: 1.125rem;
  cursor: pointer;
  border-radius: 0.75rem;
  float: right;
  margin-left: 1rem; /* 戻るボタンとの間隔 */
}

.back-button {
  background-color: #FFA500; /* 戻るボタンを少し色違いに */
  margin-left: 1.5rem; /* 結果発表ボタンから少し離す */
}

.button-display {
  background-color: #FFD700;
  border: none;
  color: black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
}

.add-button {
  background-color: #FFD700;
  border: none;
  color: black;
  font-weight: bold;
  padding: 1rem 2rem;
  font-size: 1.125rem;
  cursor: pointer;
  border-radius: 0.75rem;
}

.delete-button {
  background-color: #FFD700;
  border: none;
  color: black;
  font-weight: bold;
  padding: 1rem 2rem;
  font-size: 1.125rem;
  cursor: pointer;
  border-radius: 0.75rem;
}

/*ページネーション*/
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination a, .pagination span {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0 2px;
  border: 1px solid #ddd;
  color: #007BFF;
}

.pagination .current-page {
  background-color: #007BFF;
  color: white;
  border-color: #007BFF;
}

.pagination a:hover {
  background-color: #ddd;
}

.sidebar {
  width: 500px;
  background-color: #f9f9f9;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 60px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 2000; 
}

.sidebar a {
  display: block;
  padding: 1.2rem 1.5rem; /* クリック範囲を広げるためにパディングを増やす */
  color: #0066cc;
  text-decoration: none;
  font-size: 20px; /* フォントサイズを大きくすることで視認性を向上 */
  font-weight: bold;
}

.sidebar.active {
  transform: translateX(0);
}
