.scroll-container {
  display: flex;
  max-height: 400px; /* 望ましい最大高さ */
  overflow-y: auto; /* 垂直方向のスクロールを有効にする */
  padding: 10px;
}
table{
  border-color: collapse;
  text-align: center;
  width: 417px;
  table-layout: fixed;
}
.example{
width:1100px;
table-layout: fixed;
}
th, td {
padding: 5px;
border: 1px solid #333;
}
th {
  background-color: #2c88d9;
  color: #FFF;
}

body{
  background-color: #fffca9;
  background-size: cover;
}