@charset "UTF-8";
body{
    font-family: Arial,sans-serif;
}
.header {
    background-color: #fd9221;
    padding: 10px;
    text-align: center;
}
.button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    margin: pointer;
}
.search-box {
    padding: pointer;
}
table {
    width: 100%;
    border-collapse:collapse;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f4973b;
}
.radio-button {
    margin-right: 15px;
}

.ellipsis {
    white-space: nowrap; /* 改行を防ぐ */
    overflow: hidden; /* はみ出た内容を非表示 */
    text-overflow: ellipsis; /* 省略符号を表示 */
    max-width: 150px; /* 最大幅を設定（必要に応じて調整） */
    cursor: pointer; /* クリック可能であることを示すカーソル */
}

 
/*メニュー表示用*/
.ham_menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 初期：非表示 */
    visibility: hidden;
    opacity: 0;
    /* ふわっと表示 */
    transition: 0.5s ease-in-out;
  }
  
  /*ハンバーガーメニュー用*/
  #hambtn{
    z-index: 10000;
    position: absolute;
    top: 30px;
    right: 15px;
    padding: 0;
    outline: none;
    border: none;
    background-color: #333333;
    width: 30px;
    height: 2px;
    cursor: pointer;
  }
  
  /* 高さ1pxの線を上下に表示 */
  #hambtn::after{
  position: relative;
  content : '';
  display: block;
  height: 2px;
  background-color: #333333;
  transform: translateY(10px);
  transition: 0.3s ease-in-out;
  top: -5px;
  }
  
  #hambtn::before{
    position: relative;
    content : '';
    display: block;
    height: 2px;
    background-color: #333333;
    transform: translateY(10px);
    transition: 0.3s ease-in-out;
    top: -16px;
  }
  
  /*閉じる動作*/
  .open #hambtn{
    z-index: 100;
    background: none;
  }
  
  .open #hambtn::before{
    transform: rotate(-45deg);
    top: 0px;
    box-shadow: none;
  }
  
  .open #hambtn::after{
    transform: rotate(45deg);
    top: -1.5px;
    box-shadow: none;
  }
  
  @media(min-width: 768px){
    /* ヘッダーは横並び */
    header{
      display: flex;
      align-items: center;
    }
    /* メニューを右に寄せる */
    .ham{
      /* 右寄せ */
      margin-left: auto;
    }
    .ham ul{
      display: flex;
      list-style:none
    }
    .ham ul li:not(:first-child){
      margin-left:20px;
    }
    .nav ul li a { 
      color: #000000;
    }
  }
  
   /* ボタンスタイル */
   #menu-button {
    background-color: #333;
    color: #fff;
    padding: 30px 40px;
    border: none;
    cursor: pointer;
  }
  
  /* ドロップダウンメニューのスタイル */
  #menu-dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; /* 最初は非表示 */
    right: 8px; /* 右端からのオフセットを調整（必要に応じて変更） */
    top: 85px; /* ボタンからのオフセットを調整（必要に応じて変更） */
  }
  
  #menu-dropdown li {
    padding: 10px 20px;
  }
  
  #menu-dropdown li a {
    text-decoration: none;
    color: #333;
    display: block;
  }
  
  /* メニューが表示されるときのスタイル */
  #menu-dropdown.active {
    display: block; /* メニューを表示 */
  }
  
  /* hidden クラスを追加することで非表示にする */
  .hidden {
    display: none;
  }
  
  #menu-button {
    position: absolute;
    top: 8px; /* 検索ボタンと同じ高さ */
    right: 8px; /* 右端に配置 */
  }
  